@model OnlineShoppingMVC.Models.Cart

@{
    ViewBag.Title = "UpdateQuantity";
}

<h2>UpdateQuantity</h2>
<div align="center" style="background-color:aquamarine">

    <form method="post" action="ProductList">
        <center>
            <img width="150" height="25" src="~/Images/Flipkart.png" />    &nbsp;
            <input type="text" name="name" placeholder="Search Products" width="200" />    &nbsp;
            <input type="submit" value="Search" /><br />
        </center>
    </form>
</div><br />
<div align="center">
    <marquee direction="right" height="50" width="1000" bgcolor="mediumseagreen">
        <h2 style="color:white">Welcome To My Shopping Cart</h2>
    </marquee>
</div>
<br />
@using (Html.BeginForm("UpdateQuantity", "Onlinemvc"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cart</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table>
            <tr>
                <td>
                    <img src="~/Images/@Model.Picture" width="200" height="200" />
                </td>
                <td>
                    <b>Product Name: </b>@Html.DisplayFor(model => model.ProductName)<br />
                    <b>Price: </b>@Html.DisplayFor(model => model.Price)<br />
                    @Html.HiddenFor(model => model.ProductId)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div><br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>

                </td>
            </tr>

        </table>
    </div>





}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
